

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
  background-color: rgb(27, 172, 128);
  color: white;
  white-space: nowrap;
}

body {
	color: black;
}

gridview .userRowselected, .gridview tbody .userRowselected {
	background-color: #fbed6c;
	font-weight: bold;
}